@import '~bootstrap/scss/bootstrap';


#mainhead{
 
  font-family: "Roboto", sans-serif;
  background-color: #7e3285;
padding-top: 10px;
min-height: 75px;
width: 100%;

// padding-bottom: 20px;
// position: fixed;
@media (max-width:992px) {
  padding-bottom: 0;
 width: 100%;
}

.container{
max-width: 1400px;
height: 100%;
padding: 0;
margin: 0 auto;
@media (max-width:992px) {
    width: 100%;
   
}
@media (max-width:665px) {
 width: 100%;

 }
    .commonpart{
        width: 100%;
      height: 100%;
   
      display: flex;
      align-items: center;
justify-content: space-around;
@media (max-width:992px) {
  justify-content: space-between;
  position: relative;
 
}
@media (max-width:768px) {
  justify-content: space-around;

 
}
@media (max-width:665px) {
  justify-content: space-between;
  padding: 0 20px;
 }


        .logo{
         max-width: 100px;
      @media (max-width:665px) {
        width: 90px;
      
      }
         
            a{
               
              
             
                width: 100%;
                img{
                   max-width: 100%;
                   object-fit: cover; 
                  
                
                
                }
            }
        }
        .navigation{
            max-width: 100%;
         
           padding: 0px;
           display: flex;
          padding-bottom: 0;
           justify-content: center;
        
         
           align-items: center;
            nav{
             margin: 0px auto 0;
height: 100%;


                ul{
             
                   padding: 0;
                    margin-top: 0px;
                    margin-bottom: 0;

                    height: 100%;
                 display: flex;
              
                  align-items: start;
                  justify-content: center;
                  @media (max-width:665px) {
                    // display: inline-block;
                    // position: absolute;
                    // background-color: red;
                    // height: calc(100vh - 70px);
                    // top: 100%;
                    // right: 0;
                    // width: 0%;
                    display: none;
                  }
                    .navItem{
                        list-style-type: none;
                
                   position: relative;
                //    height: 100%;
                        margin: 0px 20px 0;
                        @media (max-width:992px) {
                         margin: 0px 10px 0 ;
                        }
                      
                        &::after {
                          position: absolute;
                          content: "]";
                          top: 0px;
                          opacity: 0;
                          transform: translateX(-20px);
                          color: #d8a436;
                          transition: all 0.3s;
                          font-size: 20px;
                        }
                        &::before {
                          position: absolute;
                          content: "[";
                          top: 0px;
                          opacity: 0;
                          transform: translateX(20px);
                          color: #d8a436;
                          transition: all 0.3s;
                          font-size: 20px;
                        }
                        &:hover::after {
                          transform: translateX(10px);
                          opacity: 0.8;
                        }
                        &:hover::before {
                          transform: translateX(-15px);
                          opacity: 0.8;
                        }
                        a{
                            text-decoration: none;
                            font-size: 20px;
                            color: aliceblue;
                            @media (max-width:980px) {
                              font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .contactinfo{

display: flex;
justify-content: space-between;
align-items: center;
margin-left: 0;
@media (max-width:992px) {
  justify-content: center;
  margin-right: 10px;
}
@media (max-width:665px) {
  margin-left:auto;
}
@media (max-width:200px) {
  display: none;
}
// .call{
//    margin-right: 10px;
//     .contactlink{
  
//         color: black;
//         display: flex;
//         align-items: center;
//         text-decoration: none;
//         .contacticon{
    
//             margin-right: 3px;
//             @media (max-width:992px) {
//                 margin-right: 2px;
//                 }
//         }
//         span{
//             font-size: 17px;
//             @media (max-width:992px) {
//                 font-size: 12px;
//                 }
//                 @media (max-width:768px) {
//                   display: none;
//                  }
            
//         }
//     }
// }
.location{
  
    .contactlink{
      
        display: flex;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
      
        .contacticon{
         
            margin-right: 5px;
            font-size: 20px;
            @media (max-width:992px) {
               margin-right: 2px;
               font-size: 15px;
                }
              
        }
        span{
            font-size: 20px;
            @media (max-width:992px) {
                font-size: 17px;
                
                }
                @media (max-width:768px) {
                  display: none;
                 }
               
        }
    }
}
.langs{
  
    select{
        background-color: #7E3285;
       
        border:none;
        margin-left: 20px;
        outline: none;
        font-size: 20px;
    color: aliceblue;
        @media (max-width:992px) {
          margin-left: 10px;
        }
        @media (max-width:665px) {
       margin-left: 8px;
          }
    .option{
        color: black;
    
     }
    }
}
        }
    
    }


  
   
      




             

      
        
   
       
       
     }
  
}